---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Rolling Woods Property Owners Association (RWPOA)",
  description = "Stay up-to-date with the latest news and announcements from the RWPOA. Our site facilitates communication among the board and membership of the Rolling Woods Property Owners Association.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://rwpoa.org/" />
    <meta
      property="og:image"
      content="https://rwpoa.org/images/rwpoa-logo.png"
    />
  </head>
  <body
    class="flex flex-col min-h-screen bg-brand-700 bg-opacity-10 text-brand-700"
  >
    <Header />
    <main class="conten flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
